---
import { text } from "@src/language/text";
import type { Language } from "@src/language/types";
import Komponent from "@src/components/Komponent.astro";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";

const language = Astro.currentLocale as Language;
---

{isLocal &&
<meta charset="UTF-8" />}
<section class="familie-ba-minside-mikrofrontend">
  <Komponent tittel={text.microfrontendTitle[language]} beskrivelse={text.microfrontendDescription[language]}
             url={Astro.url} />
</section>
