---
import "@src/styles/aksel.css";
import MinBarnetrygd from "@src/components/MinBarnetrygd.astro";
import { text } from "@src/language/text";
import type { Language } from "@src/language/types";
import { isLocal } from "@src/utils/environment";

const language = Astro.currentLocale as Language;
---

{isLocal && <meta charset="UTF-8" />}
<section class="familie-ba-minside-mikrofrontend">
  <MinBarnetrygd tittel={text.microfrontendTitle[language]} beskrivelse={text.microfrontendDescription[language]} />
</section>
