.container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--ax-radius-8);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.15),
    0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

#container {
  background-color: var(--ax-bg-default);
  color: #272727;
}

.container:hover {
  cursor: pointer;
  box-shadow:
    0 3px 8px 0 rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.18);
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.container:hover h2 {
  text-decoration: underline;
}

.container:focus {
  box-shadow: 0 0 0 3px var(--ax-border-accent-strong);
  outline: none;
}

.chevron {
  flex-shrink: 0;
}

.tekstOgIkonContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

@media (min-width: 648px) {
  .container {
    padding: 1.25rem;
  }
}
