name: Build PR

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

jobs:
  test:
    name: Kjør typecheck og tester
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5 # ratchet:actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: "https://npm.pkg.github.com"
      - name: Installer node-pakker
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: npm ci --ignore-scripts
      - name: Kjør typecheck
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: npm run typecheck
      - name: Kjør tester
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: npm run test

  bygg:
    name: Bygg app
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5 # ratchet:actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://npm.pkg.github.com"
      - name: Npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: |-
          npm ci --ignore-scripts
          npm run build